.bg-sunny {
  background: linear-gradient(to top, #349ce1, #e46e37);
  color: rgb(255, 255, 255);
}
.bg-cloudy {
  background: linear-gradient(to bottom, #91969a, #1a242f);
  color: white;
}
.bg-rainy {
  background: linear-gradient(to top, #373b44, #184184);
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
